@{
    ViewData["Title"] = "INICIO";
}

<style>
    body {
        font-family: "Montserrat", sans-serif;
    }
</style>

<div class="text-center">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="display-4">Apple Store</h2>
                <p class="lead">Descubre el mundo innovador de Apple y compra todo lo relacionado con iPhone, iPad, Apple Watch, Mac y Apple TV, además de explorar accesorios, entretenimiento y soporte técnico experto.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://cdsassets.apple.com/live/7WUAS350/images/tech-specs/iphone_15_hero.png" class="card-img-top" alt="iPhone">
                    <div class="card-body">
                        <h5 class="card-title">iPhone</h5>
                        <p class="card-text">Experimenta el siguiente nivel de innovación con los últimos modelos de iPhone.</p>
                        <p class="card-text"><strong>Precios desde: $999.000</strong></p>
                        <a href="#" class="btn btn-primary">Comprar Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://imageio.forbes.com/specials-images/imageserve/66d5c026799b87d2a653e706/Apple-iPad-mini-colors-09142021/960x0.jpg?height=473&width=711&fit=bounds" class="card-img-top" alt="iPad">
                    <div class="card-body">
                        <h5 class="card-title">iPad</h5>
                        <p class="card-text">Explora la poderosa y versátil línea de iPad.</p>
                        <p class="card-text"><strong>Precios desde: $1.299.000</strong></p>
                        <a href="#" class="btn btn-primary">Comprar Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://product.hstatic.net/200000768357/product/macbook_air_m2_13_inch__colors__2e50d7e57ac645c8b8dc0979b7c9bbbd.png" class="card-img-top" alt="MacBook">
                    <div class="card-body">
                        <h5 class="card-title">MacBook</h5>
                        <p class="card-text">Descubre el rendimiento y diseño de los últimos modelos de MacBook.</p>
                        <p class="card-text"><strong>Precios desde: $1.299.000</strong></p>
                        <a href="#" class="btn btn-primary">Comprar Ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

